.btn-list {
  list-style: none;
  width: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-left: 0;
}

.btn-list li {
  font-size: 14px;
  line-height: 20px;
  margin-top: 5px;
  border-bottom: 1px dashed #efefef;
  cursor: pointer;
}